@using BudgetTool.Enums;
@model BudgetTool.Models.Calculator

<h1>Loan Calculator Repayment</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Calculate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoanBalance" class="control-label">Loan Balance</label>
                <input type="number" asp-for="LoanBalance" class="form-control" />
                <span asp-validation-for="LoanBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyPayment" class="control-label">Monthly Payment</label>
                <input type="number" asp-for="MonthlyPayment" class="form-control"/>
                <span asp-validation-for="MonthlyPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label">Interest Rate (%)</label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>                                       
         
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

